.AboutUsHowWeWorkSection {
    position: relative;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;

    .how-we-work__content{
        position: relative;
        top: 0;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .how-we-work__card-list{
        display: flex;
        justify-content: space-between;
    }
}