.AboutUsWhyUsSection {
    position: relative;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;

    .about-us__content{
        position: relative;
        width: 100vw;

        .about-us__text{
            color: #EFEFEF;
            font-size: 25px;
            text-align: center;
        }
    }
}