$primary-color: #001331;

.title-1 {
  font-weight: bold;
  font-size: 80px;
  color: #ffffff;
}

.title-2 {
  font-weight: bold;
  font-size: 60px;
  color: #ffffff;
}

.paragraph-1 {
  font-size: 30px;
  color: #ffffff;
  font-weight: 500;
}

.section-header-dark {
  align-items: center;
  color: $primary-color;
  display: flex;
  flex-direction: column;
  margin-bottom: 125px;

  h2 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 22px;
    letter-spacing: 4px;
  }
}

.section-header-light {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 125px;

  h2 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 22px;
    letter-spacing: 4px;
  }
}

.btn-custom-1 {
  background: rgb(0, 229, 203);
  background: linear-gradient(90deg, rgba(0, 229, 203, 1) 50%, rgba(6, 191, 234, 1) 100%);
  border-radius: 43px !important;
  color: white !important;
  font-size: 25px !important;
  padding: 9px 35px !important;
}

.btn-custom-2 {
  color: #fff !important;
  padding: 15px 39px !important;
  background: transparent linear-gradient(90deg, #c673f2 0%, #5e55cb 100%) 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 4px 40px -14px rgba(198, 115, 242, 1);
  -moz-box-shadow: 0px 4px 40px -14px rgba(198, 115, 242, 1);
  box-shadow: 0px 4px 40px -14px rgba(198, 115, 242, 1);
  border: none !important;

  border-radius: 79px !important;
  font-size: 23px !important;
  margin: 0 auto !important;

  &:hover {
    color: #fff !important;
  }
}

.btn-custom-3 {
  border: 2px solid #ffffff;
  border-radius: 43px;
  min-width: 200px;
  font-size: 20px;
  color: #ffffff;
  padding: 15px 43px;
  font-weight: 500;

  &:hover {
    background-color: #ffffff !important;
    color: #003ba8;
  }
}

.agency-say-content {
  display: flex;
  justify-content: center;
}

.agency-say-card {
  max-width: 1200px;
  padding: 125px;
  border-radius: 24px;
  background-image: url(/assets/images/services/services-agency-say-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: 0px 0px 62px -19px rgba(9, 167, 254, 1);
  -moz-box-shadow: 0px 0px 62px -19px rgba(9, 167, 254, 1);
  box-shadow: 0px 0px 62px -19px rgba(9, 167, 254, 1);

  .agency-say-card__title {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    color: white;
  }

  .agency-say-card__text {
    font-size: 28px;
    color: white;
    margin-bottom: 70px;
  }

  .agency-say-card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .card__footer-logo {
    }

    .card__footer-person {
      display: flex;
      align-items: center;

      p {
        margin-left: 35px;
        margin-bottom: 0;
        font-size: 25px;
        color: #ffffff;
        font-weight: 700;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .section-header-dark {
    h2 {
      font-size: 24px;
      letter-spacing: 2.4px;
    }
  }

  .section-header-light {
    h2 {
      font-size: 24px;
      letter-spacing: 2.4px;
    }
  }

  .agency-say-card {
    max-width: 100%;
    padding: 36px;
    background-image: url(/assets/images/services/services-agency-say-bg.svg);

    .agency-say-card__title {
      font-size: 35px;
      text-align: center;
    }

    .agency-say-card__text {
      font-size: 14px;
      margin-bottom: 30px;
    }

    .agency-say-card__footer {
      align-items: flex-start;
      flex-direction: column;

      .card__footer-logo {
        width: 67px;
        height: auto;
        margin-bottom: 35px;
      }

      .card__footer-person {
        display: flex;
        align-items: center;

        img {
          width: 49px;
          height: 49px;
        }

        p {
          margin-left: 14px;
          margin-bottom: 0;
          font-size: 14px;
          color: #ffffff;
          font-weight: 700;
        }
      }
    }
  }
}
