.AboutUsInfoSection {
  position: relative;
}

.info-text-and-img {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .info-img {
    max-width: 95%;
    margin-right: 5%;
  }

  .info-text {
    color: #001331;
    font-size: 23px;
    max-width: 600px;
  }
}

.about-us-info-dots1 {
  position: absolute;
  top: -220px;
  right: 150px;
}
